@import 'nib'
@import 'nib/gradients'

body
  background linear-gradient(top,#D4D4BE,#FFF) repeat-x
  font-family "verdana", "Helvetica Neue", "Lucida Grande", "Arial"
  font-size 15px
  text-stroke 1px rgba(255, 255, 255, 0.1)
  color #555
  //margin 85 px

.navbar .divider-vertical
    height: 50px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;

.navbar-inverse .divider-vertical 
    border-right-color: #222222;
    border-left-color: #111111;


.white-popup {
  position: fixed;
  top: 30px;
  right: 5%;
  max-width: 900px
  width: 95%;
  height: 95%;
  background: #FFF;
  padding: 0px;
  margin: 0px auto;
  margin-left: 20px;
}

/* iframe's parent node */
div#test-popup {
    position: fixed;
    width: 100%;
    height: 95%;
}

/* iframe itself */
div#test-popup > iframe {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
}  
  
/* iframe's parent node */
div#test-popup-resume {
    position: fixed;
    width: 725px;
    margin 50px;
    height: 95%;
}

/* iframe itself */
div#test-popup-resume > iframe {
    display: block;
    width: 700px;
    margin 50px;
    height: 100%;
    border: none;
}  
  
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}

#navbar
  //height 400px
  font-size 20px

 
#mainbody
  //background-color #D9DDFD
  //background-color #B5DDFD
  //background linear-gradient(top,#B5DDFD,#FFF) repeat-x
  margin 125 px
  margin-left 85px
  //width 1000 px
  
h1, h2
  margin 0
  font-size 22px
  color #343434
  text-shadow 0px 1px 1px #666
  &:hover
    color #48538C
    
h1
  text-shadow 1px 2px 2px #666
  font-size 45px
  text-transform uppercase
  
#articles
  text-align left
  margin-left auto
  margin-right auto
  width 320px
  .article
    margin 20px
    .created_at
        display none
    .title
        font-weight bold
        text-decoration underline
        background-color #eee
    .body
        background-color #D9DDFD
        
#geoff
  p
    background-color #9BAFFF
    font-weight bold
    margin-left auto
    margin-right auto
    width 700px
    padding 14px
    color #000
        
#wrapper
  padding-left: 250px
  position: relative
  //background: #4EA985
  width 810 px
  
#magnify
    z-index 1
    position absolute
    margin 232px
    margin-left 187px
   
#icon 
    z-index 1
    position absolute
    margin 10px
 
#logo
  width: 250px
  margin: 20px
  background: #003073
  
#myChart
    width: 410px
    margin-left auto
    margin-right auto
    background: #EEE
    padding: 5px 5px
    
        
#listType  
    width 500px
    
    table
        border-collapse: separate
        border-spacing: 1px
        background: #CCC
        font-size: 12pt
        
        th
            background: #EEE
            font-weight: 600
            padding: 10px 20px
            text-align: center

        tbody
            padding: 0
            margin: 0
            border-collapse: collapse
            border-spacing: 0px
            //width 50px
            font-size: 8pt

        td
            background: #FFF
            padding: 5px 10px
            text-align: center
            //width 50px
    
.inline
      display: inline-block;
      margin: 1em;
     
    
#userList
    margin-left auto
    margin-right auto
    
    table
        border-collapse: separate
        border-spacing: 1px
        background: #CCC
        width 250px

        th
            background: #EEE
            font-weight: 600
            padding: 10px 20px
            text-align: center

        tbody
            padding: 0
            margin: 0
            border-collapse: collapse
            border-spacing: 0px
            width 50px

        td
            background: #FFF
            padding: 5px 10px
            text-align: center
            width 50px

#userInfo
  width: 150px
  position: absolute
  left: 20px
  top 20px

  p
    width 200px
    padding: 15px
    border: 1px solid #CCC
    background: rgba(80,120,255,0.05)
  
#addUser
  padding: 5px 10px
  text-align: center
  width 500px
  
#photo
  image '/images/Geoffrey_portrait.jpg' 200px 2000px

#links
    margin 20px
    margin-left 50px
  
footer
  margin 4px
  &:hover
    font-weight bold
    
    
// Smartphone modifications 
@media only screen and (max-width: 480px)
    .navbar-collapse .nav > .divider-vertical
        display: none;
       
    #wrapper
        padding-left: 0px
        position: relative
        width: 120%
        margin 0px
        
        h1  
            margin-left auto
            margin-right auto
            width 76%
    #icon 
        z-index 1
        position relative  
        margin-left auto
        margin-right auto
        width 70%
  
 
    #mainbody
      margin 75 px
      margin-left 50px
          
    #userInfo
      z-index 1
      width: 150px
      position: relative
      left: 20px
      top 20px

    .white-popup {
      position: fixed;
      top: 30px;
      right: 0%;
      width: 95%;
      height: 95%;
      background: #FFF;
      padding: 0px;
      margin: 0px auto;
    }

    /* iframe's parent node */
    div#test-popup {
        position: fixed;
        width: 100%;
        height: 95%;
        max-width 350px;
    }

    /* iframe itself */
    div#test-popup > iframe {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        max-width 350px;
    }  
    
#chartLegend
    //position relative
    //z-index 1
    background-color #CCC
    width: 75%
    margin-right auto
    margin-left auto
    padding 10px
    
    span.labelblock
        display: inline-block;
        position: relative;
        z-index: 1;
        width: 75px;
      
        span.colorblock
            display: inline-block;
            position: relative;
            z-index: 1;
            width: 20px;
            height: 10px;
            //position: absolute;
            //top: 3px;
            //bottom: 3px;

        span.textblock
            display: inline-block;
            position: relative;
            z-index: 1;
            width: 50px;
            height: 10px;
            //position: absolute;
            //top: 3px;
            //bottom: 3px;
