extends layout

block content
  script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js")
  #mainbody
       #wrapper
       h1= title
       #userInfo
       //.
            #accessInfo
                h2 Access Info
                p
                    strong Address : 
                    |  <span id='accessInfoAddress'></span>
                    br
                    strong IP : 
                    |  <span id='accessInfoIP'></span>
                    br
                    strong Time : 
                    |  <span id='accessInfoTime'></span>

       p
         div(class="container")
            div(class="row-fluid")
              div(id="content" class="span12")


                div(class="well span3" style="text-align: center;")
                        h3
                           | Right Now
                        p(id="connections" style="font-size: 96px;line-height: 96px;")
                           | 0
                        h5
                           | active visitors

                div(class="span9")

                    legend
                        | Real Time Activity
                    div(class="row-fluid")
                        table(id="visits" class="table table-bordered table-striped table-condensed")
                            thead
                                tr
                                    td
                                       | URL
                                    td
                                       | IP
                                    td
                                       | Timestamp
                            tbody

                legend
                    | Page Views - While you've had this window open
                div(class="row-fluid")
                   table(id="pageViews" class="table table-bordered table-striped table-condensed")
                        thead
                            tr
                                td
                                   | URL
                                td
                                   | Page Views
                        tbody
                        
         h2 Geographic unique connection counts
         #accessList
           #geographyList
            table
                thead
                    th Country
                    th Region
                    th Count
                tbody
  
         h2 DoS Attempt Tracker
         #accessList
           #connectionCounts
              table
                thead
                    th IP
                    th Region
                    th Count
                tbody
               
               
         h2 Pie Chart of Access Regions:
         canvas(id="myChart" width="400" height="400")

       
         h2 Last 25 Access Log Entries
         #accessList
            table
                thead
                    th Number
                    th Address
                    th IP
                    th Time
                    th Country
                    th Region
                    th Delete
                tbody

    //.
      h3
        | But here･s a wall of text so we can test the stalker navbar
      p
         - for (var n=0; n<20; n++)
             | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse scelerisque dui a sem aliquam, vitae cursus risus convallis. Proin varius, sem vel bibendum iaculis, ex ex lacinia odio, at efficitur lectus elit ornare lorem. Quisque auctor ut leo id congue. Vivamus ut ullamcorper dui. Aenean porttitor massa vel mi malesuada pellentesque. Integer urna quam, ullamcorper eget nisl mattis, scelerisque viverra leo. Suspendisse faucibus turpis vitae tincidunt congue. Sed elit quam, feugiat eu consectetur sit amet, fermentum et purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce viverra orci quis lectus pellentesque blandit. Ut convallis malesuada nisi, eget scelerisque arcu semper sed. Sed a sem lorem. Donec facilisis condimentum nisl eu consectetur. Etiam in velit elementum, gravida lectus at, tincidunt dolor. Cras magna arcu, accumsan eu pulvinar at, suscipit semper risus. Pellentesque nec mi quam.
             | Vestibulum tincidunt vel odio vel pulvinar. Curabitur eget efficitur est, quis lacinia nisi. Sed in mi pretium, iaculis velit et, aliquet ipsum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis eu dolor mauris. Curabitur sagittis augue ut ligula posuere, eu condimentum quam elementum. Nullam sed ultrices quam.
         - var i = 0, j = 0
            while i < 10
             - j = 0;
             ul= i++
              while j < 15
                li= j++
                
  script.
    var socket = io.connect();
    var pages = {};
    var lastPageId = 0;
    socket.on('connect', function () {
        //console.log('Socket connected');
        socket.on('pageview', function (msg) {
            populateAccessTable();
            $('#connections').html(msg.connections);
            if (msg.url) {
                if ($('#visits tr').length > 20) {
                    $('#visits tr:last').remove();
                }
                $('#visits tbody').prepend('<tr><td>' + msg.url + '</td><td>' + msg.ip + '</td><td>' + msg.timestamp + '</td></tr>');
                if (pages[msg.url]) {
                    pages[msg.url].views = pages[msg.url].views + 1;
                    $('#page' + pages[msg.url].pageId).html(pages[msg.url].views);
                } else {
                    pages[msg.url] = {views: 1, pageId: ++lastPageId};
                    $('#pageViews tbody').append('<tr><td>' + msg.url + '</td><td id="page' + lastPageId + '">1</td></tr>');
                }
            }
        });
    });

