#mainbody
    #icon
        div(class='nav nav-list')
            li(class='header')
                h3 Proposal
                li(class='active')
                    a(href='/demo/proposal') View Full Proposal
            li(class='nav-header')
                h3 Figure group 1
                li(class='active')
                    a(href='/demo/1a') See Demo Figure 1a
                li(class='active')
                    a(href='/demo/1b') See Demo Figure 1b
            li(class='nav-header')
                h3 Figure group 2
                li(class='active')
                    a(href='/demo/2a') See Demo Figure 2a
                li(class='active')
                    a(href='/demo/2b') See Demo Figure 2b
            li(class='nav-header')
                h3 Figure group 3
                li(class='active')
                    a(href='/demo/3a') See Demo Figure 3a
                li(class='active')
                    a(href='/demo/3b') See Demo Figure 3b
