extends layout

block content
    
    include demofooter

    #mainbody
     
        #wrapper
         
            #figs
                h1= title

                br
                
                a(class="image-link", href="/images/camohat_b.png")
                    img#portrait(src='/images/camohat_b.png', alt="Figure 2b", title="Figure 2b")

                br
                br
                
                p
                    h3 Search Term: "military style camo or camouflage jungle hat"
                br
                br
                 
                div(class="row-fluid")
                   h3 Top 5 Results
                   table(id="pageViews" class="table table-bordered table-striped table-condensed")
                        thead
                          tr
                            th Ranking
                            th Best
                            th Worst
                        tbody
                          tr
                            td 1
                            td Fishing Hiking Outdoor Hat (02)-Olive W10S30F
                            td Jobst Ultrasheer 15-20 mmHg Pantyhose
                          tr
                            td 2
                            td North CFR-1 Dust Mask with 21 Filters
                            td Jantzen Womens Missy Tropi-Cali 2 Piece Swimsuit, Golden Haze, 10
                          tr
                            td 3
                            td Ultra Violet Camo Jungle Hats, Size Large
                            td Lunaire Versailles Seamless Jacquard Soft Cup Bra
                          tr
                            td 4
                            td 5647 Army Digital Camo Ranger Cap: Sports &amp; Outdoors
                            td Mens Active Shorts Small Slate
                          tr
                            td 5
                            td DelMonico Boater Straw Hat
                            td National 3/4 Sleeve Blouse
                 