extends layout

block content
    
    include demofooter

    #mainbody
     
        #wrapper
         
            #figs
                h1= title
                
                br
                
                a(class="image-link", href="/images/camohat_a.png")
                    img(src='/images/camohat_a.png', alt="Figure 2a", title="Figure 2a")
               
                br
                br
               
                p  
                    h3 Search Term: "military style camo or camouflage jungle hat"