extends layout

block content
    
    include demofooter

    #mainbody
     
        #wrapper
         
            #figs
                h1= title

                br
                
                a(class="image-link", href="/images/batman_costome_b.png")
                    img#portrait(src='/images/batman_costume_b.png', alt="Figure 3b", title="Figure 3b")

                br
                br
                
                p
                    h3 Search Term: "batman costume."