extends layout

block content
    
    include demofooter

    #mainbody
     
        #wrapper
         
            #figs
                h1= title

                br
                
                a(class="image-link", href="/images/camohat_b.png")
                    img#portrait(src='/images/camohat_b.png', alt="Figure 2b", title="Figure 2b")

                br
                br
                
                p
                    h3 Search Term: "military style camo or camouflage jungle hat"
