extends layout

block content
    
    #mainbody
    
        h1= title
  
        a(class="image-link", href="/images/challenge3part2.png")
            img(src='/images/challenge3part2.png', alt="Figure 1", title="Figure 1")
           
        #figs
        
            p
                | This figure shows the amount of times the search term "I would like a straight fit pair of jeans that fit well."
                | Occurs in Amazon.com reviews for Clothing & Accessories over a period of 18 years.  
                | 581,933 reviews were compared.
               
            a(href='/demo/2') See Demo Figure 2