extends layout

block content
    
    include demofooter

    #mainbody
     
        #wrapper
         
            #figs
                h1= title
                
                br
                
                a(class="image-link", href="/images/batman_costume_a.png")
                    img(src='/images/batman_costume_a.png', alt="Figure 3a", title="Figure 3a")
               
                br
                br
               
                p  
                    h3 Search Term: "batman costume."
<<<<<<< HEAD
              
=======
               
>>>>>>> master
