extends layout

block content
    
    include demofooter

    #mainbody
     
        #wrapper
         
            #figs
                h1= title

                br
                
                a(class="image-link", href="/images/batman_costume_b.png")
                    img#portrait(src='/images/batman_costume_b.png', alt="Figure 3b", title="Figure 3b")

                br
                br
                
                p
                    h3 Search Term: "batman costume."
                br
                br
                 
                    
                div(class="row-fluid")
                   h3 Top 5 Results
                   table(id="pageViews" class="table table-bordered table-striped table-condensed")
                        thead
                          tr
                            th Ranking
                            th Best
                            th Worst
                        tbody
                          tr
                            td 1
                            td Child Armed Forces Helmet
                            td Leg Avenue Sheer Floral Diamond Pattern Stockings Black One Size Fits Most
                          tr
                            td 2
                            td Big Bird Vest
                            td Lunaire Versailles Seamless Jacquard Soft Cup Bra
                          tr
                            td 3
                            td The Flash Deluxe Muscle Chest Child Costume
                            td Pointed Ears - White Flesh Accessory
                          tr
                            td 4
                            td Plain Black Adjustable Hat
                            td Pink Floral Print Maternity &amp; Nursing Top (Medium)
                          tr
                            td 5
                            td LIL Bo Peep Large
                            td Austin Reed Dartmouth Jacket In Basics, Misses
                 