extends layout

block content
    
  //include Magnific-Popup script to resize portrait  
  link(rel='stylesheet',href='magnific-popup/magnific-popup.css')
  script(src='magnific-popup/jquery.magnific-popup.js')
    
  script(type='text/javascript').
    $(document).ready(function() {
        $('.image-link').magnificPopup({
            type:'image',
            mainClass: 'mfp-with-zoom', // this class is for CSS animation below

            zoom: {
                enabled: true, // By default it's false, so don't forget to enable it

                duration: 300, // duration of the effect, in milliseconds
                easing: 'ease-in-out', // CSS transition easing function 

                // The "opener" function should return the element from which popup will be zoomed in
                // and to which popup will be scaled down
                // By defailt it looks for an image tag:
                opener: function(openerElement) {
                    // openerElement is the element on which popup was initialized, in this case its <a> tag
                    // you don't need to add "opener" option if this code matches your needs, it's defailt one.
                    return openerElement.is('img') ? openerElement : openerElement.find('img');
                }
            }
        });
        $('.open-popup-link').magnificPopup({
            type:'inline',
            midClick: true,
        });
  
    });  

    
  #mainbody
    #icon
      a(class="image-link", href="/images/Geoffrey_portrait.jpg")
        img#portrait(src='/images/Geoffrey_portrait_small_sepia.jpg', alt="Picture of Geoff", title="Me",style='cursor: zoom-in')
        
    #wrapper
    
        h1= title
        
        p
            | Geoffrey is a graduate student at Johns Hopkins University doing research in the 
            a(href='http://neuroengineering.bme.jhu.edu') Neuroengineering & Biomedical Instrumentation Lab.
            br
            | Geoffrey is a PhD candidate with a graduation date in September of 2015.
        br
        a(href='files/geoff_newman_resume_3-19-2015.pdf') Download my Resume.
        br
        br
        div(id="test-popup" class="white-popup mfp-hide")
            iframe(src="files/geoff_cv.html" seamless)
                a(href="files/geoff_cv.html") View
        a( href="files/geoff_cv.html", data-mfp-src="#test-popup", class="open-popup-link") View
        |  or 
        a(href='files/geoff_newman_CV_3-24-2015.pdf') Download my CV.
        br
        br
        p
        
            | Find me on  
            //a(href='http://www.linkedin.com/pub/geoffrey-newman/14/407/481/en'): img#linkedinlink(src='/images/Linkedin_white_54px.png', title='I am on linked in!') 
            //a(href='http://www.linkedin.com/pub/geoffrey-newman/14/407/481/en') Linked In
            a(href='http://www.linkedin.com/pub/geoffrey-newman/14/407/481/en'): img#linkedinlink(src='/images/Linkedin_transparent_small.gif', title='I am on linked in!', alt='Linkedin') 
            | , or send me an  
            //a(href='mailto:geoffrey.nemwan@gmail.com'): img#emailLogo(src='/images/email_logo.png', title='geoffrey.nemwan@gmail.com')
            a(href='mailto:geoffrey.nemwan@gmail.com'): img#emailLogo(src='/images/email.png', title='geoffrey.nemwan@gmail.com', alt='E-mail')
            //a(href='mailto:geoffrey.nemwan@gmail.com') E-mail
            | .
        br
        br
        br