extends layout

block content
  #mainbody
    h1= title
    ul
      li
        a(href='http://neuroengineering.bme.jhu.edu') Neuroengineering & Biomedical Instrumentation Lab
      li
        a(href="/images/Geoffrey_portrait.jpg") My Photo
      li
        a(href='files/geoff_newman_resume_3-19-2015.pdf') My Resume (PDF)
      li
        a(href='files/geoff_cv.html') My CV (HTML)
      li
        a(href='files/geoff_newman_CV_3-24-2015.pdf') My CV (PDF)
      li
        a(href='http://www.linkedin.com/pub/geoffrey-newman/14/407/481/en') My Linkedin Page
      li
        a(href='mailto:geoffrey.nemwan@gmail.com') My E-mail Address
      li
        a(href='https://www.flickr.com/photos/geoffreyn', title='This will leave the website') My Flickr Album
        
